solution/Synapse/Patterns/output/GPL_SparkNotebookExecution.json
{
  "name": "GPL_SparkNotebookExecution_Primary_Azure",
  "properties": {
    "activities": [
      {
        "dependsOn": [],
        "name": "ExecuteNotebook",
        "policy": {
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false,
          "timeout": "7.00:00:00"
        },
        "type": "SynapseNotebook",
        "typeProperties": {
          "notebook": {
            "referenceName": {
              "type": "Expression",
              "value": "@if(contains(string(pipeline().parameters.TaskObject), 'ExecuteNotebook'), string(json(string(pipeline().parameters.TaskObject)).TMOptionals.ExecuteNotebook), string(json(string(pipeline().parameters.TaskObject)).ExecutionEngine.JsonProperties.DeltaProcessingNotebook))"
            },
            "type": "NotebookReference"
          },
          "parameters": {
            "TaskObject": {
              "type": "string",
              "value": {
                "type": "Expression",
                "value": "@string(pipeline().parameters.TaskObject)"
              }
            }
          },
          "snapshot": true,
          "sparkPool": {
            "referenceName": "adsdevsynspads",
            "type": "BigDataPoolReference"
          }
        },
        "userProperties": []
      },
      {
        "dependsOn": [
          {
            "activity": "ExecuteNotebook",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "name": "PrepareMetaData",
        "policy": {
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false,
          "timeout": "7.00:00:00"
        },
        "type": "SynapseNotebook",
        "typeProperties": {
          "notebook": {
            "referenceName": "PrepareMetaData",
            "type": "NotebookReference"
          },
          "parameters": {
            "TaskObject": {
              "type": "string",
              "value": "@string(pipeline().parameters.TaskObject)"
            }
          },
          "snapshot": true,
          "sparkPool": {
            "referenceName": "adsdevsynspads",
            "type": "BigDataPoolReference"
          }
        },
        "userProperties": []
      },
      {
        "dependsOn": [
          {
            "activity": "PrepareMetaData",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "name": "Set Purview Metadata",
        "type": "SetVariable",
        "typeProperties": {
          "value": {
            "type": "Expression",
            "value": "@activity('PrepareMetaData').output.status.Output.result.exitValue"
          },
          "variableName": "OutputMetaData"
        },
        "userProperties": []
      },
      {
        "dependsOn": [
          {
            "activity": "Set Purview Metadata",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "linkedServiceName": {
          "referenceName": "SLS_AzureFunctionApp",
          "type": "LinkedServiceReference"
        },
        "name": "PassMetaDataToPurview",
        "policy": {
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false,
          "timeout": "7.00:00:00"
        },
        "type": "AzureFunctionActivity",
        "typeProperties": {
          "body": "bla",
          "functionName": "PurviewGetMetaData",
          "method": "POST"
        },
        "userProperties": []
      }
    ],
    "annotations": [],
    "folder": {
      "name": "ADS Go Fast/Azure/ErrorHandler/"
    },
    "lastPublishTime": "2020-08-05T04:14:00Z",
    "parameters": {
      "TaskObject": {
        "type": "object"
      }
    },
    "variables": {
      "OutputMetaData": {
        "type": "String"
      }
    }
  },
  "type": "Microsoft.Synapse/workspaces/pipelines"
}
