solution/DataFactory/Patterns/output/GPL_AzureBlobFS_Json_AzureSqlTable_NA_IRA.json
{
  "name": "GPL_AzureBlobFS_Json_AzureSqlTable_NA_IRA",
  "properties": {
    "activities": [
      {
        "dependsOn": [],
        "name": "Pipeline AF Log - ADLS to Azure SQL Start",
        "type": "ExecutePipeline",
        "typeProperties": {
          "parameters": {
            "Body": {
              "type": "Expression",
              "value": "@json(concat('{\"TaskInstanceId\":\"', string(pipeline().parameters.TaskObject.TaskInstanceId), '\",\"ExecutionUid\":\"', string(pipeline().parameters.TaskObject.ExecutionUid), '\",\"RunId\":\"', string(pipeline().RunId), '\",\"LogTypeId\":3,\"LogSource\":\"ADF\",\"ActivityType\":\"Copy to SQL\",\"StartDateTimeOffSet\":\"', string(pipeline().TriggerTime), '\",\"Status\":\"Started\"}'))"
            },
            "FunctionName": "Log",
            "Method": "Post"
          },
          "pipeline": {
            "referenceName": "SPL_AzureFunction",
            "type": "PipelineReference"
          },
          "waitOnCompletion": false
        },
        "userProperties": []
      },
      {
        "dependsOn": [
          {
            "activity": "Pipeline AF Log - ADLS to Azure SQL Start",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "description": "Auto Creates Table Using a Schema File",
        "name": "If Auto Create Table",
        "type": "IfCondition",
        "typeProperties": {
          "expression": {
            "type": "Expression",
            "value": "@and(not(equals(coalesce(pipeline().parameters.TaskObject.Source.SchemaFileName,''),'')),bool(pipeline().parameters.TaskObject.Target.AutoCreateTable))"
          },
          "ifTrueActivities": [
            {
              "dependsOn": [],
              "name": "Execute Create Table",
              "type": "ExecutePipeline",
              "typeProperties": {
                "parameters": {
                  "TaskObject": {
                    "type": "Expression",
                    "value": "@pipeline().parameters.TaskObject"
                  }
                },
                "pipeline": {
                  "referenceName": "GPL_AzureSqlTable_NA_Create_Table_IRA",
                  "type": "PipelineReference"
                },
                "waitOnCompletion": true
              },
              "userProperties": []
            },
            {
              "dependsOn": [
                {
                  "activity": "Execute Create Table",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "linkedServiceName": {
                "referenceName": "SLS_AzureFunctionApp",
                "type": "LinkedServiceReference"
              },
              "name": "AF Get Mapping",
              "policy": {
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false,
                "timeout": "7.00:00:00"
              },
              "type": "AzureFunctionActivity",
              "typeProperties": {
                "body": {
                  "type": "Expression",
                  "value": "@json(\n concat('{\"TaskInstanceId\":\"', \n  string(pipeline().parameters.TaskObject.TaskInstanceId), \n  '\",\"ExecutionUid\":\"', \n  string(pipeline().parameters.TaskObject.ExecutionUid), \n  '\",\"RunId\":\"', \n  string(pipeline().RunId), \n  '\",\"StorageAccountName\":\"', \n  string(pipeline().parameters.TaskObject.Source.System.SystemServer), \n  '\",\"StorageAccountContainer\":\"', \n  string(pipeline().parameters.TaskObject.Source.System.Container), \n  '\",\"RelativePath\":\"', \n  string(pipeline().parameters.TaskObject.Source.Instance.SourceRelativePath), \n  '\",\"SchemaFileName\":\"', \n  string(pipeline().parameters.TaskObject.Source.SchemaFileName), \n  '\",\"SourceType\":\"', \n  if(\n     contains(string(pipeline().parameters.TaskObject.Source.System.SystemServer),'.dfs.core.windows.net'),\n     'ADLS',\n     'Azure Blob'\n    ), \n  '\",\"TargetType\":\"', \n  string(pipeline().parameters.TaskObject.Target.Type), \n  '\",\"MetadataType\":\"Parquet\"}')\n)"
                },
                "functionName": "GetSourceTargetMapping",
                "method": "POST"
              },
              "userProperties": []
            }
          ]
        },
        "userProperties": []
      },
      {
        "dependsOn": [
          {
            "activity": "If Auto Create Table",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "inputs": [
          {
            "parameters": {
              "FileName": {
                "type": "Expression",
                "value": "@pipeline().parameters.TaskObject.Source.DataFileName"
              },
              "RelativePath": {
                "type": "Expression",
                "value": "@pipeline().parameters.TaskObject.Source.Instance.SourceRelativePath"
              },
              "StorageAccountContainerName": {
                "type": "Expression",
                "value": "@pipeline().parameters.TaskObject.Source.System.Container"
              },
              "StorageAccountEndpoint": {
                "type": "Expression",
                "value": "@pipeline().parameters.TaskObject.Source.System.SystemServer"
              }
            },
            "referenceName": "GDS_AzureBlobFS_Json_IRA",
            "type": "DatasetReference"
          }
        ],
        "name": "Copy to SQL",
        "outputs": [
          {
            "parameters": {
              "Database": {
                "type": "Expression",
                "value": "@pipeline().parameters.TaskObject.Target.System.Database"
              },
              "Schema": {
                "type": "Expression",
                "value": "@pipeline().parameters.TaskObject.Target.StagingTableSchema"
              },
              "Server": {
                "type": "Expression",
                "value": "@pipeline().parameters.TaskObject.Target.System.SystemServer"
              },
              "Table": {
                "type": "Expression",
                "value": "@pipeline().parameters.TaskObject.Target.StagingTableName"
              }
            },
            "referenceName": "GDS_AzureSqlTable_NA_IRA",
            "type": "DatasetReference"
          }
        ],
        "policy": {
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false,
          "timeout": "7.00:00:00"
        },
        "type": "Copy",
        "typeProperties": {
          "enableStaging": false,
          "parallelCopies": {
            "type": "Expression",
            "value": "@pipeline().parameters.TaskObject.DegreeOfCopyParallelism"
          },
          "sink": {
            "disableMetricsCollection": false,
            "preCopyScript": {
              "type": "Expression",
              "value": "@{pipeline().parameters.TaskObject.Target.PreCopySQL}"
            },
            "type": "AzureSqlSink"
          },
          "source": {
            "formatSettings": {
              "type": "JsonReadSettings"
            },
            "storeSettings": {
              "recursive": true,
              "type": "AzureBlobFSReadSettings"
            },
            "type": "JsonSource"
          },
          "translator": {
            "type": "Expression",
            "value": "@if(and(not(equals(coalesce(pipeline().parameters.TaskObject.Source.SchemaFileName,''),'')),bool(pipeline().parameters.TaskObject.Target.AutoCreateTable)),activity('AF Get Mapping').output.value, null)"
          }
        },
        "userProperties": []
      },
      {
        "dependsOn": [
          {
            "activity": "Copy to SQL",
            "dependencyConditions": [
              "Failed"
            ]
          }
        ],
        "name": "Pipeline AF Log - ADLS to Azure SQL Failed",
        "type": "ExecutePipeline",
        "typeProperties": {
          "parameters": {
            "Body": {
              "type": "Expression",
              "value": "@json(concat('{\"TaskInstanceId\":\"', string(pipeline().parameters.TaskObject.TaskInstanceId), '\",\"ExecutionUid\":\"', string(pipeline().parameters.TaskObject.ExecutionUid), '\",\"RunId\":\"', string(pipeline().RunId), '\",\"LogTypeId\":1,\"LogSource\":\"ADF\",\"ActivityType\":\"Copy to SQL\",\"StartDateTimeOffSet\":\"', string(pipeline().TriggerTime), '\",\"EndDateTimeOffSet\":\"', string(utcnow()), '\",\"Comment\":\"', string(activity('Copy to SQL').error.message), '\",\"Status\":\"Failed\"}'))"
            },
            "FunctionName": "Log",
            "Method": "Post"
          },
          "pipeline": {
            "referenceName": "SPL_AzureFunction",
            "type": "PipelineReference"
          },
          "waitOnCompletion": false
        },
        "userProperties": []
      },
      {
        "dependsOn": [
          {
            "activity": "Copy to SQL",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "name": "Pipeline AF Log - ADLS to Azure SQL Succeed",
        "type": "ExecutePipeline",
        "typeProperties": {
          "parameters": {
            "Body": {
              "type": "Expression",
              "value": "@json(concat('{\"TaskInstanceId\":\"', string(pipeline().parameters.TaskObject.TaskInstanceId), '\",\"ExecutionUid\":\"', string(pipeline().parameters.TaskObject.ExecutionUid), '\",\"RunId\":\"', string(pipeline().RunId), '\",\"LogTypeId\":1,\"LogSource\":\"ADF\",\"ActivityType\":\"Copy to SQL\",\"StartDateTimeOffSet\":\"', string(pipeline().TriggerTime), '\",\"EndDateTimeOffSet\":\"', string(utcnow()), '\",\"RowsInserted\":\"', string(activity('Copy to SQL').output.rowsCopied), '\",\"Comment\":\"\",\"Status\":\"Complete\"}'))"
            },
            "FunctionName": "Log",
            "Method": "Post"
          },
          "pipeline": {
            "referenceName": "SPL_AzureFunction",
            "type": "PipelineReference"
          },
          "waitOnCompletion": false
        },
        "userProperties": []
      },
      {
        "dependsOn": [
          {
            "activity": "Pipeline AF Log - ADLS to Azure SQL Succeed",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "name": "Execute AZ_SQL_Post-Copy",
        "type": "ExecutePipeline",
        "typeProperties": {
          "parameters": {
            "TaskObject": {
              "type": "Expression",
              "value": "@pipeline().parameters.TaskObject"
            }
          },
          "pipeline": {
            "referenceName": "GPL_AzureSqlTable_NA_Post_Copy_IRA",
            "type": "PipelineReference"
          },
          "waitOnCompletion": true
        },
        "userProperties": []
      },
      {
        "dependsOn": [
          {
            "activity": "Pipeline AF Log - ADLS to Azure SQL Failed",
            "dependencyConditions": [
              "Completed"
            ]
          },
          {
            "activity": "Execute AZ_SQL_Post-Copy",
            "dependencyConditions": [
              "Failed"
            ]
          },
          {
            "activity": "If Auto Create Table",
            "dependencyConditions": [
              "Failed"
            ]
          }
        ],
        "name": "Pipeline AF Log - Failed",
        "type": "ExecutePipeline",
        "typeProperties": {
          "parameters": {
            "Body": {
              "type": "Expression",
              "value": "@json(\r\n    concat('{\"TaskInstanceId\":\"', \r\n        string(pipeline().parameters.TaskObject.TaskInstanceId), \r\n        '\",\"ExecutionUid\":\"',\r\n         string(pipeline().parameters.TaskObject.ExecutionUid), \r\n         '\",\"RunId\":\"', \r\n         string(pipeline().RunId), \r\n         '\",\"LogTypeId\":1,\"LogSource\":\"ADF\",\"ActivityType\":\"Data-Movement-Master\",\"StartDateTimeOffSet\":\"'\r\n         , string(pipeline().TriggerTime), \r\n         '\",\"EndDateTimeOffSet\":\"', \r\n         string(utcnow()), '\",\"Comment\":\"', \r\n         concat(pipeline().Pipeline, 'Failed'), \r\n         '\",\"Status\":\"Failed\",\"NumberOfRetries\":\"', \r\n         string(pipeline().parameters.TaskObject.NumberOfRetries),\r\n         '\"}'\r\n    )\r\n)"
            },
            "FunctionName": "Log",
            "Method": "Post"
          },
          "pipeline": {
            "referenceName": "AZ_Function_Generic",
            "type": "PipelineReference"
          },
          "waitOnCompletion": true
        },
        "userProperties": []
      },
      {
        "dependsOn": [
          {
            "activity": "Execute AZ_SQL_Post-Copy",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "name": "Pipeline AF Log - Succeed",
        "type": "ExecutePipeline",
        "typeProperties": {
          "parameters": {
            "Body": {
              "type": "Expression",
              "value": "@json(concat('{\"TaskInstanceId\":\"', string(pipeline().parameters.TaskObject.TaskInstanceId), '\",\"ExecutionUid\":\"', string(pipeline().parameters.TaskObject.ExecutionUid), '\",\"RunId\":\"', string(pipeline().RunId), '\",\"LogTypeId\":1,\"LogSource\":\"ADF\",\"ActivityType\":\"Data-Movement-Master\",\"StartDateTimeOffSet\":\"', string(pipeline().TriggerTime), '\",\"EndDateTimeOffSet\":\"', string(utcnow()), '\",\"Comment\":\"\",\"Status\":\"Complete\",\"NumberOfRetries\":\"', string(pipeline().parameters.TaskObject.NumberOfRetries),'\"}'))"
            },
            "FunctionName": "Log",
            "Method": "Post"
          },
          "pipeline": {
            "referenceName": "AZ_Function_Generic",
            "type": "PipelineReference"
          },
          "waitOnCompletion": true
        },
        "userProperties": []
      }
    ],
    "annotations": [],
    "folder": {
      "name": "ADS Go Fast/Data Movement/IRA"
    },
    "lastPublishTime": "2020-07-29T09:43:40Z",
    "parameters": {
      "TaskObject": {
        "type": "object"
      }
    }
  },
  "type": "Microsoft.DataFactory/factories/pipelines"
}
