solution/DataFactory/Patterns/output/GPL_AzureBlobFS_Excel_AzureBlobFS_Parquet_Azure.json
{
  "name": "GPL_AzureBlobFS_Excel_AzureBlobFS_Parquet_IRA",
  "properties": {
    "activities": [
      {
        "dependsOn": [
          {
            "activity": "Copy AzureBlobFS to AzureBlobFS Started",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "inputs": [
          {
            "parameters": {
              "FileName": {
                "type": "Expression",
                "value": "@pipeline().parameters.TaskObject.Source.DataFileName"
              },
              "FirstRowAsHeader": {
                "type": "Expression",
                "value": "@pipeline().parameters.TaskObject.Source.FirstRowAsHeader"
              },
              "RelativePath": {
                "type": "Expression",
                "value": "@pipeline().parameters.TaskObject.Source.RelativePath"
              },
              "SheetName": {
                "type": "Expression",
                "value": "@pipeline().parameters.TaskObject.Source.SheetName"
              },
              "StorageAccountContainerName": {
                "type": "Expression",
                "value": "@pipeline().parameters.TaskObject.Source.StorageAccountContainer"
              },
              "StorageAccountEndpoint": {
                "type": "Expression",
                "value": "@pipeline().parameters.TaskObject.Source.StorageAccountName"
              }
            },
            "referenceName": "GDS_AzureBlobFS_Excel_IRA",
            "type": "DatasetReference"
          }
        ],
        "name": "Copy AzureBlobFS to AzureBlobFS",
        "outputs": [
          {
            "parameters": {
              "FileName": {
                "type": "Expression",
                "value": "@pipeline().parameters.TaskObject.Target.DataFileName"
              },
              "RelativePath": {
                "type": "Expression",
                "value": "@pipeline().parameters.TaskObject.Target.RelativePath"
              },
              "StorageAccountContainerName": {
                "type": "Expression",
                "value": "@pipeline().parameters.TaskObject.Target.StorageAccountContainer"
              },
              "StorageAccountEndpoint": {
                "type": "Expression",
                "value": "@pipeline().parameters.TaskObject.Target.StorageAccountName"
              }
            },
            "referenceName": "GDS_AzureBlobFS_Parquet_IRA",
            "type": "DatasetReference"
          }
        ],
        "policy": {
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false,
          "timeout": "7.00:00:00"
        },
        "type": "Copy",
        "typeProperties": {
          "enableStaging": false,
          "parallelCopies": {
            "type": "Expression",
            "value": "@pipeline().parameters.TaskObject.DegreeOfCopyParallelism"
          },
          "sink": {
            "storeSettings": {
              "copyBehavior": "PreserveHierarchy",
              "type": "AzureBlobFSWriteSettings"
            },
            "type": "ParquetSink"
          },
          "source": {
            "storeSettings": {
              "recursive": true,
              "type": "AzureBlobFSReadSettings"
            },
            "type": "ExcelSource"
          }
        },
        "userProperties": []
      },
      {
        "dependsOn": [
          {
            "activity": "Copy AzureBlobFS to AzureBlobFS",
            "dependencyConditions": [
              "Failed"
            ]
          }
        ],
        "name": "Copy AzureBlobFS to AzureBlobFS Failed",
        "type": "ExecutePipeline",
        "typeProperties": {
          "parameters": {
            "Body": {
              "type": "Expression",
              "value": "@json(concat('{\"TaskInstanceId\":\"', string(pipeline().parameters.TaskObject.TaskInstanceId), '\",\"ExecutionUid\":\"', string(pipeline().parameters.TaskObject.ExecutionUid), '\",\"RunId\":\"', string(pipeline().RunId), '\",\"LogTypeId\":1,\"LogSource\":\"ADF\",\"ActivityType\":\"Copy Blob to Blob\",\"StartDateTimeOffSet\":\"', string(pipeline().TriggerTime), '\",\"EndDateTimeOffSet\":\"', string(utcnow()), '\",\"Comment\":\"', string(activity('Copy AzureBlobFS to AzureBlobFS').error.message), '\",\"Status\":\"Failed\"}'))"
            },
            "FunctionName": "Log",
            "Method": "Post"
          },
          "pipeline": {
            "referenceName": "SPL_AzureFunction",
            "type": "PipelineReference"
          },
          "waitOnCompletion": false
        },
        "userProperties": []
      },
      {
        "dependsOn": [],
        "name": "Copy AzureBlobFS to AzureBlobFS Started",
        "type": "ExecutePipeline",
        "typeProperties": {
          "parameters": {
            "Body": {
              "type": "Expression",
              "value": "@json(concat('{\"TaskInstanceId\":\"', string(pipeline().parameters.TaskObject.TaskInstanceId), '\",\"ExecutionUid\":\"', string(pipeline().parameters.TaskObject.ExecutionUid), '\",\"RunId\":\"', string(pipeline().RunId), '\",\"LogTypeId\":3,\"LogSource\":\"ADF\",\"ActivityType\":\"Copy Blob to Blob\",\"StartDateTimeOffSet\":\"', string(pipeline().TriggerTime), '\",\"Status\":\"Started\"}'))"
            },
            "FunctionName": "Log",
            "Method": "Post"
          },
          "pipeline": {
            "referenceName": "SPL_AzureFunction",
            "type": "PipelineReference"
          },
          "waitOnCompletion": false
        },
        "userProperties": []
      },
      {
        "dependsOn": [
          {
            "activity": "Copy AzureBlobFS to AzureBlobFS",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "name": "Copy AzureBlobFS to AzureBlobFS Succeed",
        "type": "ExecutePipeline",
        "typeProperties": {
          "parameters": {
            "Body": {
              "type": "Expression",
              "value": "@json(concat('{\"TaskInstanceId\":\"', string(pipeline().parameters.TaskObject.TaskInstanceId), '\",\"ExecutionUid\":\"', string(pipeline().parameters.TaskObject.ExecutionUid), '\",\"RunId\":\"', string(pipeline().RunId), '\",\"LogTypeId\":1,\"LogSource\":\"ADF\",\"ActivityType\":\"Copy Blob to Blob\",\"StartDateTimeOffSet\":\"', string(pipeline().TriggerTime), '\",\"EndDateTimeOffSet\":\"', string(utcnow()), '\",\"RowsInserted\":\"', string(activity('Copy AzureBlobFS to AzureBlobFS').output.filesWritten), '\",\"Comment\":\"\",\"Status\":\"Complete\"}'))"
            },
            "FunctionName": "Log",
            "Method": "Post"
          },
          "pipeline": {
            "referenceName": "SPL_AzureFunction",
            "type": "PipelineReference"
          },
          "waitOnCompletion": false
        },
        "userProperties": []
      }
    ],
    "annotations": [],
    "folder": {
      "name": "ADS Go Fast/Data Movement/IRA"
    },
    "lastPublishTime": "2020-08-05T04:14:00Z",
    "parameters": {
      "TaskObject": {
        "type": "object"
      }
    }
  },
  "type": "Microsoft.DataFactory/factories/pipelines"
}
