solution/DataFactory/Patterns/ffuadd391d1-7c2d-49f1-b743-5964a6fb1422.json
{
  "name": "GPL_AzureBlobStorage_Binary_FileServer_Binary_Primary_Azure",
  "properties": {
    "activities": [
      {
        "dependsOn": [
          {
            "activity": "Copy AzureBlobStorage to FileServer Started",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "inputs": [
          {
            "parameters": {
              "Directory": {
                "type": "Expression",
                "value": "@pipeline().parameters.TaskObject.Source.RelativePath"
              },
              "File": {
                "type": "Expression",
                "value": "@pipeline().parameters.TaskObject.Source.DataFileName"
              },
              "FileSystem": {
                "type": "Expression",
                "value": "@pipeline().parameters.TaskObject.Source.System.Container"
              },
              "StorageAccountEndpoint": {
                "type": "Expression",
                "value": "@pipeline().parameters.TaskObject.Source.System.SystemServer"
              }
            },
            "referenceName": "GDS_AzureBlobStorage_Binary_Azure",
            "type": "DatasetReference"
          }
        ],
        "name": "Copy AzureBlobStorage to FileServer",
        "outputs": [
          {
            "parameters": {
              "Directory": {
                "type": "Expression",
                "value": "@pipeline().parameters.TaskObject.Target.RelativePath"
              },
              "File": {
                "type": "Expression",
                "value": "@pipeline().parameters.TaskObject.Target.DataFileName"
              },
              "Host": {
                "type": "Expression",
                "value": "@pipeline().parameters.TaskObject.Target.System.SystemServer"
              },
              "KeyVaultBaseUrl": {
                "type": "Expression",
                "value": "@pipeline().parameters.TaskObject.KeyVaultBaseUrl"
              },
              "Secret": {
                "type": "Expression",
                "value": "@pipeline().parameters.TaskObject.Target.System.PasswordKeyVaultSecretName"
              },
              "UserId": {
                "type": "Expression",
                "value": "@pipeline().parameters.TaskObject.Target.System.Username"
              }
            },
            "referenceName": "GDS_FileServer_Binary_Azure",
            "type": "DatasetReference"
          }
        ],
        "policy": {
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false,
          "timeout": "7.00:00:00"
        },
        "type": "Copy",
        "typeProperties": {
          "enableStaging": false,
          "parallelCopies": {
            "type": "Expression",
            "value": "@pipeline().parameters.TaskObject.DegreeOfCopyParallelism"
          },
          "sink": {
            "storeSettings": {
              "copyBehavior": "PreserveHierarchy",
              "type": "FileServerWriteSettings"
            },
            "type": "BinarySink"
          },
          "source": {
            "storeSettings": {
              "deleteFilesAfterCompletion": {
                "type": "Expression",
                "value": "@pipeline().parameters.TaskObject.Source.DeleteAfterCompletion"
              },
              "formatSettings": {
                "type": "BinaryReadSettings"
              },
              "maxConcurrentConnections": {
                "type": "Expression",
                "value": "@pipeline().parameters.TaskObject.Source.MaxConcurrentConnections"
              },
              "recursive": {
                "type": "Expression",
                "value": "@pipeline().parameters.TaskObject.Source.Recursively"
              },
              "type": "AzureBlobStorageReadSettings",
              "wildcardFileName": {
                "type": "Expression",
                "value": "@pipeline().parameters.TaskObject.Source.DataFileName"
              }
            },
            "type": "BinarySource"
          }
        },
        "userProperties": []
      },
      {
        "dependsOn": [
          {
            "activity": "Copy AzureBlobStorage to FileServer",
            "dependencyConditions": [
              "Failed"
            ]
          }
        ],
        "name": "Copy AzureBlobStorage to FileServer Failed",
        "type": "ExecutePipeline",
        "typeProperties": {
          "parameters": {
            "Body": {
              "type": "Expression",
              "value": "@json(concat('{\"TaskInstanceId\":\"', string(pipeline().parameters.TaskObject.TaskInstanceId), '\",\"ExecutionUid\":\"', string(pipeline().parameters.TaskObject.ExecutionUid), '\",\"RunId\":\"', string(pipeline().RunId), '\",\"LogTypeId\":1,\"LogSource\":\"ADF\",\"ActivityType\":\"Copy Blob to Blob\",\"StartDateTimeOffSet\":\"', string(pipeline().TriggerTime), '\",\"EndDateTimeOffSet\":\"', string(utcnow()), '\",\"Comment\":\"', encodeUriComponent(string(activity('Copy AzureBlobStorage to FileServer').error.message)), '\",\"Status\":\"Failed\"}'))"
            },
            "FunctionName": "Log",
            "Method": "Post"
          },
          "pipeline": {
            "referenceName": "SPL_AzureFunction",
            "type": "PipelineReference"
          },
          "waitOnCompletion": false
        },
        "userProperties": []
      },
      {
        "dependsOn": [],
        "name": "Copy AzureBlobStorage to FileServer Started",
        "type": "ExecutePipeline",
        "typeProperties": {
          "parameters": {
            "Body": {
              "type": "Expression",
              "value": "@json(concat('{\"TaskInstanceId\":\"', string(pipeline().parameters.TaskObject.TaskInstanceId), '\",\"ExecutionUid\":\"', string(pipeline().parameters.TaskObject.ExecutionUid), '\",\"RunId\":\"', string(pipeline().RunId), '\",\"LogTypeId\":3,\"LogSource\":\"ADF\",\"ActivityType\":\"Copy Blob to Blob\",\"StartDateTimeOffSet\":\"', string(pipeline().TriggerTime), '\",\"Status\":\"Started\"}'))"
            },
            "FunctionName": "Log",
            "Method": "Post"
          },
          "pipeline": {
            "referenceName": "SPL_AzureFunction",
            "type": "PipelineReference"
          },
          "waitOnCompletion": false
        },
        "userProperties": []
      },
      {
        "dependsOn": [
          {
            "activity": "Copy AzureBlobStorage to FileServer",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "name": "Copy AzureBlobStorage to FileServer Succeed",
        "type": "ExecutePipeline",
        "typeProperties": {
          "parameters": {
            "Body": {
              "type": "Expression",
              "value": "@json(concat('{\"TaskInstanceId\":\"', string(pipeline().parameters.TaskObject.TaskInstanceId), '\",\"ExecutionUid\":\"', string(pipeline().parameters.TaskObject.ExecutionUid), '\",\"RunId\":\"', string(pipeline().RunId), '\",\"LogTypeId\":1,\"LogSource\":\"ADF\",\"ActivityType\":\"Copy Blob to Blob\",\"StartDateTimeOffSet\":\"', string(pipeline().TriggerTime), '\",\"EndDateTimeOffSet\":\"', string(utcnow()), '\",\"RowsInserted\":\"', string(activity('Copy AzureBlobStorage to FileServer').output.filesWritten), '\",\"Comment\":\"\",\"Status\":\"Complete\"}'))"
            },
            "FunctionName": "Log",
            "Method": "Post"
          },
          "pipeline": {
            "referenceName": "SPL_AzureFunction",
            "type": "PipelineReference"
          },
          "waitOnCompletion": false
        },
        "userProperties": []
      }
    ],
    "annotations": [],
    "folder": {
      "name": "ADS Go Fast/Data Movement/Azure-Storage-to-Azure-Storage/Azure"
    },
    "lastPublishTime": "2020-08-05T04:14:00Z",
    "parameters": {
      "TaskObject": {
        "type": "object"
      }
    }
  },
  "type": "Microsoft.DataFactory/factories/pipelines"
}
