solution/DataFactory/Patterns/FileForUpload.json
{
  "name": "GPL_SqlServerTable_NA_FileServer_Parquet_OnPrem",
  "properties": {
    "activities": [
      {
        "dependsOn": [],
        "name": "Execute Main Pipeline",
        "type": "ExecutePipeline",
        "typeProperties": {
          "parameters": {
            "TaskObject": {
              "type": "Expression",
              "value": "@pipeline().parameters.TaskObject"
            }
          },
          "pipeline": {
            "referenceName": "GPL_SqlServerTable_NA_FileServer_Parquet_Primary_OnPrem",
            "type": "PipelineReference"
          },
          "waitOnCompletion": true
        },
        "userProperties": []
      },
      {
        "dependsOn": [
          {
            "activity": "Execute Main Pipeline",
            "dependencyConditions": [
              "Failed"
            ]
          }
        ],
        "name": "Pipeline AF Log - Failed",
        "type": "ExecutePipeline",
        "typeProperties": {
          "parameters": {
            "Body": {
              "type": "Expression",
              "value": "@json(\n    concat(\n        '{\"TaskInstanceId\":\"', \n        string(pipeline().parameters.TaskObject.TaskInstanceId), \n        '\",\"ExecutionUid\":\"', \n        string(pipeline().parameters.TaskObject.ExecutionUid), \n        '\",\"RunId\":\"', \n        string(pipeline().RunId), \n        '\",\"LogTypeId\":1,\"LogSource\":\"ADF\",\"ActivityType\":\"Data-Movement-Master\",\"StartDateTimeOffSet\":\"', \n        string(pipeline().TriggerTime), \n        '\",\"EndDateTimeOffSet\":\"', \n        string(utcNow()), \n        '\",\"Comment\":\"', \n        replace(replace(\n                string(activity('Execute Main Pipeline').error.message), '\"',''\n                ), '''',''), \n        '\",\"Status\":\"Failed\",\"NumberOfRetries\":\"', \n        string(pipeline().parameters.TaskObject.NumberOfRetries),\n        '\"}'\n    )\n)"
            },
            "FunctionName": "Log",
            "Method": "Post"
          },
          "pipeline": {
            "referenceName": "SPL_AzureFunction",
            "type": "PipelineReference"
          },
          "waitOnCompletion": true
        },
        "userProperties": []
      },
      {
        "dependsOn": [
          {
            "activity": "Execute Main Pipeline",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "name": "Pipeline AF Log - Succeed",
        "type": "ExecutePipeline",
        "typeProperties": {
          "parameters": {
            "Body": {
              "type": "Expression",
              "value": "@json(\n    concat(\n        '{\"TaskInstanceId\":\"', \n        string(\n            pipeline().parameters.TaskObject.TaskInstanceId\n            ), \n        '\",\"ExecutionUid\":\"', \n        string(pipeline().parameters.TaskObject.ExecutionUid), \n        '\",\"RunId\":\"', \n        string(pipeline().RunId), \n        '\",\"LogTypeId\":1,\"LogSource\":\"ADF\",\"ActivityType\":\"Data-Movement-Master\",\"StartDateTimeOffSet\":\"', \n        string(pipeline().TriggerTime), \n        '\",\"EndDateTimeOffSet\":\"', \n        string(utcNow()), \n        '\",\"Comment\":\"\",\"Status\":\"Complete\",\"NumberOfRetries\":\"', \n        string(pipeline().parameters.TaskObject.NumberOfRetries),\n        '\"}'\n    )\n)"
            },
            "FunctionName": "Log",
            "Method": "Post"
          },
          "pipeline": {
            "referenceName": "SPL_AzureFunction",
            "type": "PipelineReference"
          },
          "waitOnCompletion": true
        },
        "userProperties": []
      }
    ],
    "annotations": [],
    "folder": {
      "name": "ADS Go Fast/Data Movement/SQL-Database-to-Azure-Storage/OnPrem/ErrorHandler/"
    },
    "lastPublishTime": "2020-08-06T06:27:14Z",
    "parameters": {
      "TaskObject": {
        "type": "object"
      }
    }
  },
  "type": "Microsoft.DataFactory/factories/pipelines"
}
